body {
    .dimmer {
        transition: 0.5s background-color;
        content: " ";
        display: block;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    &.dimmed {
        overflow: hidden;
        
        .dimmer {
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}