.world-map {
    position: relative;
    left: 50px;
    padding: 0;
    margin-bottom: 50px;
    width: calc(100% - 50px);

    .tile-card {
        position: absolute;
        list-style: none;
        width: 50px;
        height: 50px;
        background-color: grey;
        color: white;
    }
}