.card-container {
    &.absolute {
        position: absolute;
    }

    &.stacked {
        transition: 0.3s;
        position: relative;
        display: inline-block;
        margin-left: -200px;

        &:hover {
            bottom: 10px;
            z-index: 3;
        }
    }

    list-style: none;
    height: 287px;
    width: 207px;

    &:hover {
        &:not(.highlighted) {
            .card-front, .card-back {
                box-shadow: 0px 0px 10px 10px @color_text_card;
            }   
        }
        .card-front, .card-back {
            cursor: pointer;
        }
    }

    &.highlighted {
        .card-front, .card-back {
            box-shadow: 0px 0px 10px 10px green;
            cursor: pointer;
        }
    }

    .card-front, .card-back {
        transition: 0.3s;
        border-radius: 10px;
        border-bottom: 3px solid @color_card_border;
        border-right: 3px solid @color_card_border;
        border-left: 1px solid @color_card_border;
        background-color: @color_card_primary;
        padding: 10px 5px;
        width: calc(100% - 10px);
        height: calc(100% - 20px);
    }

    .card-back {
        color: @color_card_border;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
            font-size: 231px;
            margin: 0;
            color: @color_card_border;
        }
    }

    .card-front {
        color: @color_text_card;

        figure.image {
            text-align: center;
            font-size: 100px;
            margin: 0;
            color: @color_text_card;
        }
        
        span.card-title {
            text-align: center;
            display: block;
            font-size: 24px;
        }

        p.text {
            color: @color_text_desc;
            font-size: 12px;
            font-style: italic;
            text-align: center;
        }

        &.item {
            span.card-value {
                font-weight: bold;
                display: block;
                text-align: center;
            }
        }
    }
}