.stacked-card {
    list-style: none;
    height: 287px;
    width: 207px;
    background-color: @color_card_primary;
    color: @color_text_card;
    border-radius: 10px;
    border-bottom: 3px solid @color_card_border;
    border-right: 3px solid @color_card_border;
    border-left: 1px solid @color_card_border;
    display: inline-block;
    margin-right: -177px;
}

.card-group {
    display: inline-block;
    margin-right: 200px;
}

